.footertop {
    margin-bottom: 80px;
    display: flex;
    h1 {
      font-size: 40px;
      font-family: Palanquin;
    }
    input {
      width: 504px;
      height: 48px;
      margin-left: 580px;
      border-radius: 8px;
      border: 1px solid black;
      padding: 20px;
      opacity: 0.8;
    }
  }
  
  .inputt {
    position: relative;
  }
  
  .loopicon {
    position: absolute;
    right: 135px;
    margin-top: 13px;
    font-size: 20px;
    opacity: 0.8;
  }
  
  // dfgdgdfgdf
  
  .footermiddleleft {
    p {
      width: 326px;
      height: 81px;
      font-family: Poppins;
      opacity: 0.8;
      color: #212121bf;
    }
    .gmail {
      width: 22px;
      height: 22px;
      margin-bottom: -8px;
    }
  
    a {
      margin-top: -90px;
    }
  
    button {
      width: 150px;
      height: 40px;
      border-radius: 8px;
      border: 1 solid #212121e5;
      margin-top: -50px;
      font-size: 16px;
      color: #212121e5;
      cursor: pointer;
      .submit {
        font-size: 16px;
        color: #212121e5;
      }
    }
  }
  .footermiddleright {
    nav {
      ul {
        margin-left: 107px;
        li {
          margin-top: 12px;
          a {
            color: #212121bf;
          }
        }
      }
    }
  }
  
  .footermiddle {
    display: flex;
    gap: 14rem;
  }
  .birinci {
    display: inline-block;
  }
  
  .ikinci {
    display: inline-block;
  }
  
  .ucuncu {
    display: inline-block;
  }
  
  .footerbottom {
    background-color: #ffffff;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    color: #212121bf;
    padding: 10px;
  
    .ic {
      font-size: 20px;
      color: #212121;
      margin-left: 20px;
    }
  }
  